body{
    background-color: black;
    color: white;
}
.nav{
    display: flex;
    background-color: black;
    color: white;
    position: fixed;
    top: 0%;
    width: 100%;
    justify-content:space-between;
}
.nav i{
    margin:30px;
    color: white;
}
.nav h2{
    margin-left: 20px;
}
.nav div a i:hover{
    color: red;
}
.interface {
    padding: 40px;
    margin: 100px;
    font-size: 20px;
}
.interface img{
    float: right;
}
.interface div{
    display: flex;
}
.interface p{
margin-left: 10px;
}

button{
    background-color: red;
    color: white;
    padding: 3px;
    text-align: center;
}
#fp{
    margin-top: 18% ;
}
#tp{
    margin-top: 10%;
}
.products{
    margin-top: 10% ;
    display: flex;
    justify-content: space-evenly;
}
#money{
    display: flex;
    /* margin-right: 10px; */
}
#money p{
    margin-right: 10px;
}
.one img{
    height: 200px;
    width: 160px;
    
}
.two img{
    height: 250px;
    width: 200px;
}
.three img{
    height: 300px;
    width: 250px;
}
.tpbar{
    display: flex;
    justify-content: space-evenly;
    text-decoration:none;
    width: 70%;
    margin: auto;
    list-style-type:none ;
    margin-bottom: 30px;
    margin-top: 30px;
}
li:hover{
    background-color: red;
}
.cards{
    display: flex;
    flex-wrap:wrap ;
    margin: 1px;
    margin-bottom: 100px;
}
.card{
border: 2px solid rgb(50, 52, 53);
width: 315px;
padding: 10px;
margin: 5px;

}
.brwscard{
border: 2px solid rgb(50, 52, 53);
width: 315px;
padding: 10px;
margin: 5px;
align-content: center;
color: rgb(103, 106, 109);
}
.ouradv{
    display: flex;
    margin: 40px;
}
.first{
        width: 25%;
        font-size: 20px;
        margin-left: 50px;
}
.first i{
    float: left;
    margin-top: 6%;
    font-size: 70px;
    margin-right: 4px;
    color: red;
}
.absec{
    margin-top:  80px;
    display: flex;
    
}
.absec div{
    width: 25%;
    margin-right: 80px;
}
footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}
footer i{
    
    margin:10px;
}
footer div {
align-content: center;
}



